{% extends "admin/base.html" %}
{% load static %}

{% block title %}مدیریت بلاگ | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/custom_admin.css' %}">
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block branding %}
<div class="admin-header">
    <h1 id="site-name">مدیریت بلاگ</h1>
</div>
{% endblock %}

{% block nav-global %}
    <div class="admin-nav">
        <a href="/" class="btn">مشاهده سایت</a>
        <a href="{% url 'admin:logout' %}" class="btn btn-danger">خروج</a>
    </div>
{% endblock %} 